RentC/Web References/RCWebService/RCWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCarListJSON">
        <s:complexType />
      </s:element>
      <s:element name="GetCarListJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarListJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCarListJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetCarListJSON" />
  </wsdl:message>
  <wsdl:message name="GetCarListJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarListJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="RCWebServiceSoap">
    <wsdl:operation name="GetCarListJSON">
      <wsdl:input message="tns:GetCarListJSONSoapIn" />
      <wsdl:output message="tns:GetCarListJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RCWebServiceSoap" type="tns:RCWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCarListJSON">
      <soap:operation soapAction="http://tempuri.org/GetCarListJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RCWebServiceSoap12" type="tns:RCWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCarListJSON">
      <soap12:operation soapAction="http://tempuri.org/GetCarListJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RCWebService">
    <wsdl:port name="RCWebServiceSoap" binding="tns:RCWebServiceSoap">
      <soap:address location="http://localhost/RC/RCWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RCWebServiceSoap12" binding="tns:RCWebServiceSoap12">
      <soap12:address location="http://localhost/RC/RCWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>